.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}
.grid > div {
    padding: 1vw;
    background: cyan;
    text-align: center;
}
